.collectBox {
  background-color: #FFF;
  max-width: 400px;
  height: auto;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  overflow: hidden;
}

h3 {
  font-size: 15px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}


.profileBox .profile {
  min-height:50px;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  cursor:text;
  width: auto;
  margin-left: 20px;
  margin-right:20px;
  border-radius: 4px;

}

.profileBox .profile:focus {
  border: 1.5px solid #e43212;
  outline: none;
}

.collectBox .btnMake {
  background-color: #FFA32B;
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s;
}

.btnMake:active {
  transform: translateY(3px)
}

.result {
  width: 360px; /*400-패딩크기40*/
  height: 180px; /*240-패딩크기60*/
  border-radius: 6px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap:10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  overflow: hidden;
  padding: 30px 20px 30px 20px;
}
.imgIn , .resultProfiles {
  height: 100%;
  flex: 1;
}

.imgIn {
  margin-left: 0; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.resultProfiles {
  margin-right: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resultProfile {
  font-size: 20px;
  margin-bottom: 4px;
  
  margin-top: 4px;
  width: 100%; 
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;

}

 .name {
  margin-top: 0px;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 16px;
}